/* PARA TABLETS */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    body {
      width: 100%;
    }

/* ========== PÁGINA INICIO ========== */
/* ===== MENU ===== */
ul.menu {  
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    position: fixed;
}

li {
    display: inline;
    width: 50px;
}

a.boton-menu {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.boton-menu:link, a.boton-menu:visited {
    text-decoration: none;
    color: black;
}

a.boton-menu:hover, a.boton-menu:active {
    text-decoration: none;
    color: #2D9CDB;
}

  .menu {
    position: absolute;
    top: 0px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    width: 100%;
    z-index: 100;
}
/* ===== FIN MENU ===== */

/* ===== HEADER ===== */
  .head { 
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }

  .head img {
    display: block;
    margin: 0;
    vertical-align: middle;
    width: 100%;
    height: auto;
  }

  .head .overlay {
    position: absolute;
    background-color: rgba(247,247,247,0.7);
    left: 200px;
    right: 200px; 
    height: 200px;
    font-weight: 400;
    color: #180020;
    text-align: center;
    text-transform: uppercase;
  }

h1 {
  font-size: 30px;
  padding-top: 70px;
}

  .subtitle {
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-transform: lowercase;
  }
/* ===== FIN HEADER ===== */


/* ===== PORTAFOLIO ===== */
    .wrapper {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 100px;
    }

    .wrapper a.portafolio {
      display: flex;
      position: relative;
      width: 100%;
      height: 250px;
      overflow: hidden;
      text-align: center;
      margin-bottom: 10px;
      align-items: center;
      justify-content: center;
    }

    .wrapper a.portafolio img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      vertical-align: middle;
      width: 100%;
      height: auto;
      align-self: center;
    }

    .wrapper a.portafolio .overlay {
      position: absolute;
      background-color: rgba(247,247,247,0.7);
      bottom: 0;
      left: 0;
      right: 0;
      padding: 2px;
      font-size: 30px;
      font-weight: 300;
      color: #180020;
      text-align: center;
      text-transform: uppercase;
    }
/* ===== FIN PORTAFOLIO ===== */

/* ===== SOBRE MI ===== */
  .sobre-mi {
    margin-top: 60px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
  }

  .sobre-mi img {
    display: block;
    margin-top: -10px;
    vertical-align: middle;
    width: 100%;
    height: auto;
  }

h2 {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

ul.publicaciones {  
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.link-publicaciones:link, a.link-publicaciones:visited {
    text-decoration: none;
    color: black;
}

a.link-publicaciones:hover, a.link-publicaciones:active {
    text-decoration: none;
    color: #2D9CDB;
}
/* ===== FIN SOBRE MI ===== */

/* ===== CONTACTO ===== */
  .contacto {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 20px;
  }

input {
  width: 100%;
  height: 30px;
  padding: 12px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0px;
  background-color: #f8f8f8;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

textarea {
  width: 100%;
  height: 30px;
  padding: 12px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0px;
  background-color: #f8f8f8;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

button {
  width: 50%;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0px;
  background-color: #626262;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
}
/* ===== FIN CONTACTO ===== */
/* ========== FIN PÁGINA INICIO ========== */

/* ========== FOTOGRAFIA // DISEÑO ========== */
  .header-fotografia {
    display: block;
    text-align: center;
  }

h4 {
  font-size: 30px;
  font-weight: 300;
}

  .smaller {
    font-size: 20px;
    font-weight: 300;
  }

  .header-fotografia {
    display:flex;
    position:relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }

  .titulo {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

a.boton-atras {
  display: flex;
  position: relative;
  text-align: left;
  float: left;
  font-size: 25px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 10px;
}

a.boton-atras:link, a.boton-atras:visited {
    text-decoration: none;
    color: black;
}

a.boton-atras:hover, a.boton-atras:active {
    text-decoration: none;
    color: #2D9CDB;
    font-weight: 400;
}
/* ========== FIN FOTOGRAFIA // DISEÑO ========== */

/* ========== VIAJES, SESIONES, MATRIS // PROYECTOS DE DISEÑO ========== */
  .even-smaller {
    font-size: 20px;
    font-weight: 300;
  }

  .wrapper-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .wrapper-2 a.thumb {
    display: flex;
    position: relative;
    margin: 10px;
    width: 50%;
    height: 250px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }

  .wrapper-2 a.thumb img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 100%;
    height: auto;
    align-self: center;
  }

  .wrapper-2 a.thumb .overlay-thumb {
    position: absolute;
    background-color: rgba(247,247,247,0.7);
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    padding: 2px;
    align-self: center;
    font-size: 20px;
    font-weight: 400;
    color: #180020;
    text-align: center;
    text-transform: uppercase;
  }
/* ========== FIN VIAJES, SESIONES, MATRIS // PROYECTOS DE DISEÑO ========== */

/* ========== ENTRADAS FOTOGRAFIA // DISEÑO ========== */
h4.titulos-texto {
  text-align: center;
  margin-top: 50px;
}

p.textos {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}
/* ========== ENTRADAS FOTOGRAFIA // DISEÑO ========== */
  .wrapper-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .wrapper-3 a.thumb-2 {
    display: flex;
    position: relative;
    margin: 5px;
    max-width: 100%;
    max-height: 200px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }

  .wrapper-3 a.thumb-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 100%;
    max-height: 100%;
    align-self: center;
    object-fit: cover;
  }
/* ========== FIN ENTRADAS FOTOGRAFIA // DISEÑO ========== */


/* ===== FOOTER ===== */
footer {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  }
/* ===== FIN FOOTER ===== */
}



















/* PARA DESKTOP */
@media only screen 
  and (min-device-width: 1025px)  
  and (-webkit-min-device-pixel-ratio: 2) { 
    body {
      width: 100%;
    }

/* ========== PÁGINA INICIO ========== */
/* ===== MENU ===== */
ul.menu {  
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    position: fixed;
}

li {
    display: inline;
    width: 50px;
}

a.boton-menu {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.boton-menu:link, a.boton-menu:visited {
    text-decoration: none;
    color: black;
}

a.boton-menu:hover, a.boton-menu:active {
    text-decoration: none;
    color: #2D9CDB;
}

  .menu {
    position: absolute;
    top: 0px;
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    width: 100%;
    z-index: 100;
  }
/* ===== FIN MENU ===== */

/* ===== HEADER ===== */
  .head { 
    display: flex;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }

  .head img {
    display: block;
    margin: 0;
    vertical-align: middle;
    width: 100%;
    height: auto;
  }

  .head .overlay {
    position: absolute;
    background-color: rgba(247,247,247,0.7);
    left: 400px;
    right: 400px; 
    height: 400px;
    font-weight: 400;
    color: #180020;
    text-align: center;
    text-transform: uppercase;
  }

h1 {
  font-size: 40px;
  padding-top: 150px;
}

  .subtitle {
    display: block;
    font-size: 30px;
    font-weight: 400;
    text-transform: lowercase;
  }
/* ===== FIN HEADER ===== */


/* ===== PORTAFOLIO ===== */
    .wrapper {
      display: flex;
      flex-direction: row;
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 100px;
    }

    .wrapper a.portafolio {
      display: flex;
      position: relative;
      width: 100%;
      height: 350px;
      overflow: hidden;
      text-align: center;
      margin-bottom: 10px;
      align-items: center;
      justify-content: center;
      margin: 5px;
    }

    .wrapper a.portafolio img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      vertical-align: middle;
      width: 100%;
      height: auto;
      align-self: center;
    }

    .wrapper a.portafolio .overlay {
      position: absolute;
      background-color: rgba(247,247,247,0.7);
      bottom: 0;
      left: 0;
      right: 0;
      padding: 2px;
      font-size: 30px;
      font-weight: 300;
      color: #180020;
      text-align: center;
      text-transform: uppercase;
    }
/* ===== FIN PORTAFOLIO ===== */

/* ===== SOBRE MI ===== */
  .sobre-mi {
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
  }

  .sobre-mi img {
    display: block;
    margin-top: -10px;
    vertical-align: middle;
    width: 100%;
    height: auto;
  }

h2 {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

ul.publicaciones {  
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.link-publicaciones:link, a.link-publicaciones:visited {
    text-decoration: none;
    color: black;
}

a.link-publicaciones:hover, a.link-publicaciones:active {
    text-decoration: none;
    color: #2D9CDB;
}
/* ===== FIN SOBRE MI ===== */

/* ===== CONTACTO ===== */
  .contacto {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: 500px;
    margin-left: 100px;
    padding-bottom: 20px;
  }

input {
  width: 100%;
  height: 30px;
  padding: 12px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0px;
  background-color: #f8f8f8;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

textarea {
  width: 100%;
  height: 30px;
  padding: 12px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0px;
  background-color: #f8f8f8;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

button {
  width: 50%;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0px;
  background-color: #626262;
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
}
/* ===== FIN CONTACTO ===== */
/* ========== FIN PÁGINA INICIO ========== */

/* ========== FOTOGRAFIA // DISEÑO ========== */
  .header-fotografia {
    display: block;
    text-align: center;
  }

h4 {
  font-size: 30px;
  font-weight: 300;
}

  .smaller {
    font-size: 20px;
    font-weight: 300;
  }

  .header-fotografia {
    display:flex;
    position:relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }

  .titulo {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

a.boton-atras {
  display: flex;
  position: relative;
  text-align: left;
  float: left;
  font-size: 25px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 10px;
}

a.boton-atras:link, a.boton-atras:visited {
    text-decoration: none;
    color: black;
}

a.boton-atras:hover, a.boton-atras:active {
    text-decoration: none;
    color: #2D9CDB;
    font-weight: 400;
}
/* ========== FIN FOTOGRAFIA // DISEÑO ========== */

/* ========== VIAJES, SESIONES, MATRIS // PROYECTOS DE DISEÑO ========== */
  .even-smaller {
    font-size: 20px;
    font-weight: 300;
  }

  .wrapper-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .wrapper-2 a.thumb {
    display: flex;
    position: relative;
    margin: 10px;
    width: 50%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }

  .wrapper-2 a.thumb img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 100%;
    height: auto;
    align-self: center;
  }

  .wrapper-2 a.thumb .overlay-thumb {
    position: absolute;
    background-color: rgba(247,247,247,0.7);
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    padding: 2px;
    align-self: center;
    font-size: 20px;
    font-weight: 400;
    color: #180020;
    text-align: center;
    text-transform: uppercase;
  }

  .wrapperdesktop {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
  }
/* ========== FIN VIAJES, SESIONES, MATRIS // PROYECTOS DE DISEÑO ========== */

/* ========== ENTRADAS FOTOGRAFIA // DISEÑO ========== */
h4.titulos-texto {
  text-align: center;
  margin-top: 50px;
}

p.textos {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}
/* ========== ENTRADAS FOTOGRAFIA // DISEÑO ========== */
  .wrapper-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .wrapper-3 a.thumb-2 {
    display: flex;
    position: relative;
    margin: 5px;
    max-width: 100%;
    max-height: 200px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }

  .wrapper-3 a.thumb-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 100%;
    max-height: 100%;
    align-self: center;
    object-fit: cover;
  }
/* ========== FIN ENTRADAS FOTOGRAFIA // DISEÑO ========== */


/* ===== FOOTER ===== */
footer {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  }
/* ===== FIN FOOTER ===== */
}